@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Giriş Yap";
}

<div class="auth-container">
    <div class="auth-card">

        <h2>Giriş Yap</h2>

        <form method="post">
            <input type="email" name="email" placeholder="E-posta adresinizi giriniz" required />
            <input type="password" name="password" placeholder="Şifrenizi giriniz" required />

            <button type="submit">Giriş Yap</button>
        </form>

        <div class="auth-link-row">
            Hesabın yok mu?
            <a href="/Account/Register">Üye Ol</a>
        </div>

    </div>
</div>
