<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - The Edit Co.</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="auth-body">

    <div class="auth-page">
        @RenderBody()
    </div>

</body>
</html>
